html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  background: #222222;
  font-family: monospace;
  font-size: 14px;
  color: #dddddd; }

a {
  color: #0b0; }

button {
  background: #444;
  border: 1px solid #888;
  border-radius: 0;
  color: #ddd;
  cursor: pointer;
  margin: 5px 0 0 5px; }

button:hover {
  color: #dddddd;
  background: #666; }

button:disabled {
  color: #888;
  cursor: default; }

button:disabled:hover {
  color: #888;
  background: #444; }

#inventory {
  display: none;
  border: 1px solid #dddddd;
  width: 300px;
  padding: 20px;
  position: absolute;
  right: 30px;
  top: 30px; }
  #inventory h3 {
    margin: 0;
    clear: both;
    float: left;
    display: block;
    width: 100%; }
  #inventory .inventory-item {
    padding: 2px 5px;
    font-size: 12px;
    width: 150px;
    float: left;
    box-sizing: border-box;
    cursor: pointer; }
    #inventory .inventory-item.selected {
      background: #555; }

#villagers {
  border: 1px solid #dddddd;
  width: 300px;
  padding: 20px;
  position: absolute;
  right: 30px;
  bottom: 30px; }
  #villagers .villager {
    width: 150px;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 12px; }

#make-planks,
#make-crafting,
#alerts {
  display: none; }

#crafting {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-left: 15px;
  display: none; }
  #crafting .craft-square {
    width: 100px;
    height: 100px;
    float: left;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background: #333;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer; }
	
#smelting {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-left: 15px;
  display: none; }
  #smelting .smelt_row {
	position: relative;
    width: 300px;
	height: 100px; }
  #smelting .craft-square {
    width: 100px;
    height: 100px;
    border: 1px solid #dddddd;
    background: #333;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer; }
  #smelting .smelt_progress {
	position: absolute;
    border: 1px solid #dddddd;
	left: 95px;
	top: 45px;
	width: 100px;
	height: 10px; }
  #smelting .fuel_line {
	position: absolute;
    border: 1px solid #dddddd;
	left: 45px;
	top: 5px;
    width: 10px;
	height: 90px; }
  #smelting #smelt_1 {
	position: absolute;
	right: 1px; }

#alerts {
  position: absolute;
  bottom: 15px;
  left: 15px;
  border: 1px solid #dddddd;
  padding: 5px;
  width: 300px; }
  #alerts .alert {
    border-bottom: 1px dashed #444; }

.mouse-alert {
  position: absolute;
  z-index: 99;
  background: #222222;
  border: 1px solid #dddddd;
  padding: 2px 5px; }

#footer {
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: 0.3;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  /* Safari */ }

#footer:hover {
  opacity: 1.0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  /* Safari */ }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }
