$light:#ddd;
$dark:#333;
$darkest:#222;
$highlight:#555;
.chromeframe {
    margin: 0.2em 0;
    background: $light;
    color: $darkest;
    padding: 0.2em 0;
}
body{
    background: $darkest;
    font-family: monospace;
    color:$light;
    font-size: 14px;
    line-height: 1.4;
}
a{
    color:#0b0;
}
button{
    background: $highlight;
    border:1px solid $light;
    border-radius: 0;
    color:$light;
    cursor:pointer;
    margin: 5px 0 0 5px;
    border-radius: 4px;
}
button:hover{
    color:$light;
    background: mix($dark,$light,70%);
}
button:disabled{
    color:$light;
    cursor:default;
}
button:disabled:hover{
    color:$light;
    background: $dark;
}
.pane{
    display: none;
    border:1px solid $light;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 40px;
    .item{
        font-size: 11px;
        float: left;
        box-sizing:border-box;
        cursor:pointer;
        padding:2px 5px;
    }
    h3{
        margin:0;
        clear:both;
        float:left;
        display: block;
        width:100%;
    }
}
#inventory{
    right: 30px;
    .inventory-item{
        width: 150px;
        &.selected{
            background: $highlight;
            border-radius: 4px;
        }
    }
}
#villagers{
    right: 390px;
    .villager{
        width:300px;
        border-bottom: 1px dashed $dark;
    }
}
#get-villager,
#make-planks,
#make-crafting,
#alerts{
    display:none;
}
#options-menu{
	display:none;
	position:absolute;
    z-index:9001;
	border:1px solid $light;
    left:15px;
    top:15px;
    background: $darkest;
    padding:10px;
}
#tabs{
    position: absolute;
    height:30px;
    top: -31px;
    left: 15px;
}
.work-tab{
    float: left;
    border-top: 1px solid $light;
    border-left: 1px solid $light;
    border-right: 1px solid $light;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 15px;
    margin-right: 10px;
    cursor:pointer;
    display: none;
    &.active{
        border-bottom: 1px solid $darkest;
    }
}
#work-area{
    float:left;
    clear:both;
    border:1px solid $light;
    padding:10px;
    width:450px;
    margin-top: 40px;
    position: relative;
    display: none;
}
#crafting{
    display: none;
    #crafting-square{
        border-top:1px solid $light;
        border-left:1px solid $light;
        width:300px;
        height:300px;
        margin: 30px 15px;
        float:left;
    }
    .craft-square{
        width:100px;
        height:100px;
        float:left;
        border-bottom:1px solid $light;
        border-right:1px solid $light;
        background: $dark;
        text-align:center;
        padding-top:40px;
        font-size:20px;
        box-sizing: border-box;
        cursor:pointer;
    }
    #craft {
        margin-top: 30px;
    }
    .craft{
        float:left;
        margin: 0 15px;
        margin-top: 15px;
    }
}
#smelting {
    display: none;
    #smelting-square{
        width:300px;
        height:300px;
        margin: 30px 15px;
        float:left;
    }
    .smelt-square {
        width: 100px;
        height: 100px;
        float:left;
        text-align: center;
        font-size: 20px;
        box-sizing: border-box;
        &.input{
            padding-top: 40px;
            border: 1px solid $light;
            background: $dark;
            cursor: pointer;
        }
    }
    .line{
        border: 1px solid $light;
        position: relative;
        overflow: hidden;
    }
    .bar{
        background: $light;
        position: absolute;
    }
    #smelt-progress {
        margin-top: 45px;
        margin-left:5px;
        width: 90px;
        height: 10px;
        .bar{
            height:10px;
            width:90px;
            left:-90px;
            top:0;
        }
    }
    #fuel-line {
        margin-left: 45px;
        margin-top: 5px;
        width: 10px;
        height: 90px;
        .bar{
            height:90px;
            width:10px;
            left:0;
            top:90px;
        }
    }
    #smelt{
        float:left;
        margin: 30px 15px;
    }
}

#alerts{
    background: $darkest;
    position: absolute;
    bottom: 15px;
    left: 15px;
    border: 1px solid $light;
    padding: 5px;
    width:300px;
    .alert{
        border-bottom: 1px dashed $dark;
    }
}
.mouse-alert{
    position: absolute;
    z-index:99;
    background: $darkest;
    border:1px solid $light;
    padding:2px 5px;
}
#footer{
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: 0.3;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s; /* Safari */
}
#footer:hover{
    opacity: 1.0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s; /* Safari */
}
#exploration {
    z-index: 1000;
    position: absolute;
    top: 50px;
    width: 99%;
    margin: 0;

    canvas {
        background: #000;
        margin: 10px;
        margin-bottom: 0px;
    }

    .controls {
        float: right;
    }
}
.window {
    .inner {
        border:1px solid $light;
        background: #222;
        margin: 10px;
        margin-top: 0;
        padding: 15px;
        padding-bottom: 5px;
    }

    h3 {
        margin:0;
        clear:both;
        float:left;
        display: block;
        width:100%;
    }
}
