.chromeframe {
  margin: 0.2em 0;
  background: #999999;
  color: #444444;
  padding: 0.2em 0; }

body {
  background: #444444;
  font-family: monospace;
  color: #999999;
  font-size: 14px;
  line-height: 1.4; }

a {
  color: #0b0; }

button {
  background: #555555;
  border: 1px solid #999999;
  border-radius: 0;
  color: #999999;
  cursor: pointer;
  margin: 5px 0 0 5px;
  border-radius: 4px; }

button:hover {
  color: #999999;
  background: dimgray; }

button:disabled {
  color: #999999;
  cursor: default; }

button:disabled:hover {
  color: #999999;
  background: #555555; }

.pane {
  display: none;
  border: 1px solid #999999;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 40px; }
  .pane .item {
    font-size: 11px;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    padding: 2px 5px; }
    .pane .item.selected {
      background: #555555;
      border-radius: 4px; }
  .pane h3 {
    margin: 0;
    clear: both;
    float: left;
    display: block;
    width: 100%; }

#inventory {
  right: 30px; }
  #inventory .inventory-item {
    width: 150px; }
    #inventory .inventory-item.selected {
      background: #555555;
      border-radius: 4px; }

#villagers {
  right: 390px; }
  #villagers .villager {
    width: 300px;
    border-bottom: 1px dashed #555555; }

#get-villager,
#make-planks,
#make-crafting,
#alerts,
#blocks {
  display: none; }

#options-menu {
  display: none;
  position: absolute;
  margin: 30px 0px;
  z-index: 9001;
  border: 1px solid #999999;
  left: 15px;
  top: 15px;
  background: #444444;
  padding: 10px; }

#tabs {
  position: absolute;
  height: 30px;
  top: -26px;
  left: 15px; }

.work-tab {
  float: left;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2px 10px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
  height: 20px;
  line-height: 20px; }
  .work-tab.active {
    border-bottom: 1px solid #444444; }

#work-area {
  float: left;
  clear: both;
  border: 1px solid #999999;
  padding: 10px;
  width: 500px;
  margin-top: 40px;
  position: relative;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

pre.block {
  font: 3px/2px monospace;
  cursor: pointer; }

#crafting {
  display: none; }
  #crafting #crafting-square {
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    width: 345px;
    height: 345px;
    margin: 30px 15px;
    float: left; }
  #crafting .craft-square {
    width: 115px;
    height: 115px;
    float: left;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
    background: #555555;
    padding: 7px 8px;
    box-sizing: border-box;
    cursor: pointer; }
  #crafting #craft {
    margin-top: 30px; }
  #crafting .craft {
    float: left;
    margin: 0 15px;
    margin-top: 15px; }

#smelting {
  display: none; }
  #smelting #smelting-square {
    width: 345px;
    height: 345px;
    margin: 30px 15px;
    float: left; }
  #smelting .smelt-square {
    width: 115px;
    height: 115px;
    float: left;
    box-sizing: border-box; }
    #smelting .smelt-square.input {
      border: 1px solid #999999;
      background: #555555;
      cursor: pointer;
      padding: 7px 8px; }
  #smelting .line {
    border: 1px solid #999999;
    position: relative;
    overflow: hidden; }
  #smelting .bar {
    background: #999999;
    position: absolute; }
  #smelting #smelt-progress {
    margin-top: 45px;
    margin-left: 5px;
    width: 90px;
    height: 10px; }
    #smelting #smelt-progress .bar {
      height: 10px;
      width: 90px;
      left: -90px;
      top: 0; }
  #smelting #fuel-line {
    margin-left: 45px;
    margin-top: 5px;
    width: 10px;
    height: 90px; }
    #smelting #fuel-line .bar {
      height: 90px;
      width: 10px;
      left: 0;
      top: 90px; }
  #smelting #smelt {
    float: left;
    margin: 30px 15px; }

#alerts {
  background: #444444;
  position: absolute;
  bottom: 15px;
  left: 15px;
  border: 1px solid #999999;
  padding: 5px;
  width: 300px; }
  #alerts .alert {
    border-bottom: 1px dashed #555555; }

.mouse-alert {
  position: absolute;
  z-index: 99;
  background: #444444;
  border: 1px solid #999999;
  padding: 2px 5px; }

footer {
  font-size: 10px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: 0.3;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  /* Safari */ }

footer:hover {
  opacity: 1.0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  /* Safari */ }

#exploration {
  display: none; }
  #exploration canvas {
    border: 1px solid #999999;
    background: #555555;
    margin: 10px;
    margin-bottom: 0px; }
  #exploration .controls {
    float: right;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    position: relative; }
    #exploration .controls button {
      position: absolute;
      width: 30px;
      height: 30px;
      line-height: 20px;
      text-align: center;
      box-sizing: border-box;
      padding: 0;
      margin: 0; }
      #exploration .controls button.up {
        left: 35px;
        top: 0; }
      #exploration .controls button.right {
        left: 70px;
        top: 35px; }
      #exploration .controls button.left {
        left: 0;
        top: 35px; }
      #exploration .controls button.down {
        top: 70px;
        left: 35px; }
  #exploration .inner {
    margin-top: 0;
    padding: 15px; }

#settlements {
  display: none; }
  #settlements #lists {
    float: left;
    width: 220px; }
    #settlements #lists h3 {
      margin: 0 0 10px 0; }
    #settlements #lists .list {
      border: 1px solid #999999;
      width: 200px;
      padding: 5px 10px;
      float: left;
      margin-bottom: 10px; }
      #settlements #lists .list .item {
        font-size: 11px;
        box-sizing: border-box;
        cursor: pointer;
        padding: 2px 5px; }
        #settlements #lists .list .item.selected {
          background: #555555;
          border-radius: 4px; }
          #settlements #lists .list .item.selected.building {
            font-weight: bold;
            color: #cccccc; }
            #settlements #lists .list .item.selected.building .requirements {
              font-weight: normal;
              color: #999999; }
        #settlements #lists .list .item .requirements {
          display: none; }
  #settlements #grid {
    float: left;
    margin-left: 20px; }
  #settlements .settlement-grid {
    width: 20px;
    height: 20px;
    float: left;
    background: #555555;
    line-height: 20px;
    text-align: center;
    margin: 1px;
    box-sizing: border-box; }
    #settlements .settlement-grid.new-row {
      clear: both; }
    #settlements .settlement-grid.hover-green {
      background: #1E8D1E;
      cursor: pointer; }
    #settlements .settlement-grid.hover-red {
      background: #965050;
      cursor: not-allowed; }
    #settlements .settlement-grid.top-edge {
      border-top: 1px solid #999999; }
    #settlements .settlement-grid.right-edge {
      border-right: 1px solid #999999; }
    #settlements .settlement-grid.bottom-edge {
      border-bottom: 1px solid #999999; }
    #settlements .settlement-grid.left-edge {
      border-left: 1px solid #999999; }
