$light:#ddd;
$dark:#222;
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body{
    background: $dark;
    font-family: monospace;
    font-size:14px;
    color:$light;
}
a{
    color:#0b0;
}
button{
    background: #444;
    border:1px solid #888;
    border-radius: 0;
    color:#ddd;
    cursor:pointer;
    margin: 5px 0 0 5px;
}
button:hover{
    color:$light;
    background: #666;
}
button:disabled{
    color:#888;
    cursor:default;
}
button:disabled:hover{
    color:#888;
    background: #444;
}
#inventory{
    display: none;
    border:1px solid $light;
    width: 300px;
    padding: 20px;
    position: absolute;
    right: 30px;
    top: 30px;
    h3{
        margin:0;
        clear:both;
        float:left;
        display: block;
        width:100%;
    }
    .inventory-item{
        padding:2px 5px;
        font-size: 11px;
        width: 150px;
        float: left;
        box-sizing:border-box;
        cursor:pointer;
        &.selected{
            background: #555;
        }
    }
}
#villagers{
    border:1px solid $light;
    width: 300px;
    padding: 20px;
    position: absolute;
    right: 390px;
    top: 30px;
    display: none;
    .villager{
        width:300px;
        float:left;
        box-sizing:border-box;
        cursor:pointer;
        padding:2px 5px;
        font-size: 11px;
        border-bottom: 1px dashed #444;
    }
}
#get-villager,
#make-planks,
#make-crafting,
#alerts{
    display:none;
}
#options-menu{
	display:none;
	position:absolute;
    z-index:9001;
	border:1px solid $light;
    left:15px;
    top:15px;
    background: $dark;
    padding:10px;
}
#tabs{
    position: absolute;
    height:30px;
    top: -31px;
    left: 15px;
}
.work-tab{
    float: left;
    border-top: 1px solid $light;
    border-left: 1px solid $light;
    border-right: 1px solid $light;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 15px;
    margin-right: 10px;
    cursor:pointer;
    display: none;
    &.active{
        border-bottom: 1px solid $dark;
    }
}
#work-area{
    float:left;
    clear:both;
    border:1px solid $light;
    padding:10px;
    width:450px;
    margin-top: 40px;
    position: relative;
    display: none;
}
#crafting{
    display: none;
    #crafting-square{
        border-top:1px solid $light;
        border-left:1px solid $light;
        width:300px;
        height:300px;
        margin: 30px 15px;
        float:left;
    }
    .craft-square{
        width:100px;
        height:100px;
        float:left;
        border-bottom:1px solid $light;
        border-right:1px solid $light;
        background: #333;
        text-align:center;
        padding-top:40px;
        font-size:20px;
        box-sizing: border-box;
        cursor:pointer;
    }
    #craft {
        margin-top: 30px;
    }
    .craft{
        float:left;
        margin: 0 15px;
        margin-top: 15px;
    }
}
#smelting {
    display: none;
    #smelting-square{
        width:300px;
        height:300px;
        margin: 30px 15px;
        float:left;
    }
    .smelt-square {
        width: 100px;
        height: 100px;
        float:left;
        text-align: center;
        font-size: 20px;
        box-sizing: border-box;
        &.input{
            padding-top: 40px;
            border: 1px solid $light;
            background: #333;
            cursor: pointer;
        }
    }
    #smelt-progress {
        border: 1px solid $light;
        margin-top: 45px;
        margin-left:5px;
        width: 90px;
        height: 10px;
        position: relative;
        overflow: hidden;
        .bar{
            background: $light;
            position: absolute;
            height:10px;
            width:90px;
            left:-90px;
            top:0;
        }
    }
    #fuel-line {
        border: 1px solid $light;
        margin-left: 45px;
        margin-top: 5px;
        width: 10px;
        height: 90px;
    }
    #smelt{
        float:left;
        margin: 30px 15px;
    }
}

#alerts{
    position: absolute;
    bottom: 15px;
    left: 15px;
    border: 1px solid $light;
    padding: 5px;
    width:300px;
    .alert{
        border-bottom: 1px dashed #444;
    }
}
.mouse-alert{
    position: absolute;
    z-index:99;
    background: $dark;
    border:1px solid $light;
    padding:2px 5px;
}
#footer{
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: 0.3;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s; /* Safari */
}
#footer:hover{
    opacity: 1.0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s; /* Safari */
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
