$light:#999;
$dark:#555;
$darkest:#444;
$sunk:mix($darkest,#000,70%);
$highlight:#555;
$red:#965050;
$green:#1E8D1E;
.chromeframe {
    margin: 0.2em 0;
    background: $light;
    color: $darkest;
    padding: 0.2em 0;
}
body{
    background: $darkest;
    font-family: monospace;
    color:$light;
    font-size: 14px;
    line-height: 1.4;
}
a{
    color:#0b0;
}
button{
    background: $highlight;
    border:1px solid $light;
    border-radius: 0;
    color:$light;
    cursor:pointer;
    margin: 5px 0 0 5px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    &.disabled{
        background: transparent;
        color: #666;
        border: 1px solid #555;
        cursor:default;
        &:hover{
            background: transparent;
            color: #666;
        }
    }
    .progress{
        background: $highlight;
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        top:0;
        z-index:-1;
        display: none;
    }
}
button:hover{
    color:$light;
    background: mix($dark,$light,70%);
}
button:focus{
    outline:0;
}
.pane{
    display: none;
    border:1px solid $light;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 40px;
    max-height: 80%;
    overflow-y:scroll;
    .item{
        font-size: 11px;
        float: left;
        box-sizing:border-box;
        cursor:pointer;
        padding:2px 5px;
        &.selected{
            background: $highlight;
            border-radius: 4px;
        }
    }
    h3{
        margin:0;
        clear:both;
        float:left;
        display: block;
        width:100%;
    }
}
#inventory{
    right: 30px;
    .inventory-item{
        width: 150px;
        &.selected{
            background: $highlight;
            border-radius: 4px;
        }
    }
}
#villagers{
    right: 390px;
    .villager{
        width:300px;
        border-bottom: 1px dashed $dark;
        &.hungry{
            color:$red;
        }
    }
}
#get-villager,
#make-planks,
#make-crafting,
#alerts,
#popups,
#blocks,
.fight-ranged,
.close-button{
    display:none;
}
#buttons button{
    display: block;
    float:left;
}
#start-buttons{
    float:left;
    margin:0;
    padding:0;
}
#options-menu{
	display:none;
	position:absolute;
	margin:30px 0px;
    z-index:9001;
	border:1px solid $light;
    left:15px;
    top:15px;
    background: $darkest;
    padding:10px;
}
#tabs{
    position: absolute;
    height:30px;
    top: -26px;
    left: 15px;
}
.work-tab{
    float: left;
    border-top: 1px solid $light;
    border-left: 1px solid $light;
    border-right: 1px solid $light;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2px 10px;
    margin-right: 10px;
    cursor:pointer;
    display: none;
    height: 20px;
    line-height:20px;
    &.active{
        border-bottom: 1px solid $darkest;
    }
}
#work-area{
    float:left;
    clear:both;
    border:1px solid $light;
    padding:10px;
    width:500px;
    margin-top: 40px;
    position: relative;
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
pre.block{
    font:3px/2px monospace;
    cursor:pointer;
}
#crafting{
    display: none;
    #crafting-square{
        border-top:1px solid $light;
        border-left:1px solid $light;
        width:345px;
        height:345px;
        margin: 30px 15px;
        float:left;
    }
    .craft-square{
        width:115px;
        height:115px;
        float:left;
        border-bottom:1px solid $light;
        border-right:1px solid $light;
        background: $dark;
        padding: 7px 8px;
        box-sizing: border-box;
        cursor:pointer;
    }
    #craft {
        margin-top: 30px;
    }
    button{
        float:left;
        margin: 0 15px;
        margin-top: 15px;
    }
}
#smelting {
    display: none;
    #smelting-square{
        width:345px;
        height:345px;
        margin: 30px 15px;
        float:left;
    }
    .smelt-square {
        width: 115px;
        height: 115px;
        float:left;
        box-sizing: border-box;
        &.input{
            border: 1px solid $light;
            background: $dark;
            cursor: pointer;
            padding: 7px 8px;
        }
    }
    .line{
        border: 1px solid $light;
        position: relative;
        overflow: hidden;
    }
    .bar{
        background: $light;
        position: absolute;
    }
    #smelt-progress {
        margin-top: 45px;
        margin-left:5px;
        width: 90px;
        height: 10px;
        .bar{
            height:10px;
            width:90px;
            left:-90px;
            top:0;
        }
    }
    #fuel-line {
        margin-left: 45px;
        margin-top: 5px;
        width: 10px;
        height: 90px;
        .bar{
            height:90px;
            width:10px;
            left:0;
            top:90px;
        }
    }
    #smelt{
        float:left;
        margin: 30px 15px;
    }
}
#alerts{
    background: $darkest;
    position: absolute;
    bottom: 15px;
    left: 15px;
    border: 1px solid $light;
    padding: 5px;
    width:300px;
    .alert{
        border-bottom: 1px dashed $dark;
    }
}
.mouse-alert{
    position: absolute;
    z-index:99;
    background: $darkest;
    border:1px solid $light;
    padding:2px 5px;
}
footer{
    font-size:10px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: 0.3;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s; /* Safari */
}
footer:hover{
    opacity: 1.0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s; /* Safari */
}
#exploration {
    display: none;
    canvas {
        border:1px solid $light;
        background: $highlight;
        margin: 10px;
        margin-bottom: 0px;
    }
    .controls {
        float:right;
        clear:right;
        width:80px;
        height:80px;
        margin-right:10px;
        position: relative;
        button{
            position: absolute;
            width:30px;
            height:30px;
            line-height: 20px;
            text-align: center;
            box-sizing:border-box;
            padding:0;
            margin:0;
            &.up{
                left:35px;
                top:0;
            }
            &.right{
                left:70px;
                top:35px;
            }
            &.left{
                left:0;
                top:35px;
            }
            &.down{
                top:70px;
                left:35px;
            }
        }
    }
    .explore-actions{
        float: right;
        clear: right;
        margin: 40px 0 20px;
    }
    .inner {
        margin-top: 0;
        padding: 15px;
    }
}

#settlements{
    display: none;
    #lists{
        float:left;
        width:220px;
        h3{
            margin:0 0 10px 0;
        }
        .list{
            border: 1px solid $light;
            width: 200px;
            padding: 5px 10px;
            float:left;
            margin-bottom:10px;
            .item{
                font-size: 11px;
                box-sizing:border-box;
                cursor:pointer;
                padding:2px 5px;
                &.selected{
                    background: $highlight;
                    border-radius: 4px;
                    &.building{
                        font-weight:bold;
                        color:lighten($light,20);
                        .requirements{
                            font-weight:normal;
                            color:$light;
                        }
                    }
                }
                .requirements{
                    display: none;
                }
            }
        }
    }
    #grid{
        float: left;
        margin-left: 20px;
    }
    .settlement-grid{
        width:20px;
        height:20px;
        float:left;
        background:$highlight;
        line-height: 20px;
        text-align: center;
        margin: 1px;
        box-sizing:border-box;
        &.new-row{
            clear: both;
        }
        &.hover-green{
            background:$green;
            cursor:pointer;
        }
        &.hover-red{
            background: $red;
            cursor:not-allowed;
        }
        &.top-edge{    border-top:1px solid $light; }
        &.right-edge{  border-right:1px solid $light; }
        &.bottom-edge{ border-bottom:1px solid $light; }
        &.left-edge{   border-left:1px solid $light; }
    }
}
#shade{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index:2;
    display: none;
}
#popup{
    position: fixed;
    top:100px;
    left:50%;
    margin-left:-400px;
    width:800px;
    min-height:400px;
    background: $darkest;
    border:1px solid $light;
    z-index:3;
    padding: 20px 40px;
    box-sizing: border-box;
}
.popup{
    .encounter-stats{
        width: 300px;
        float: left;
        .stats-pane{
            width: 150px;
            float: left;
            .stat-title,.stat{
                width: 75px;
                float: left;
            }
        }
    }
    .combat-log{
        width: 400px;
        height: 300px;
        background: $sunk;
        float: left;
        margin-left: 10px;
        position: relative;
        overflow:hidden;
        .msg{
            height:20px;
            width:100%;
            border-top:1px solid $highlight;
            top:300px;
            position: absolute;
            box-sizing: border-box;
            padding-left:10px;
            overflow-x:hidden;
        }
    }
}
